datos_distritos_confirmados_dia.csv
municipios_prov.xlsx
municipios.gpkg
casos_hosp_uci_def_sexo_edad_provres.csv
Region_Mobility_Report_CSVs.zip
2021_ES_Region_Mobility_Report.csv
datos_camas_ministerio.csv
covid19-provincias-spain_consolidated.csv
nhab_edades.xls
datos_test_ministerio.csv
Variantes.xlsx
